@font-face {
  font-family: "Karla", sans-serif;
  src: "./assets/Karla";
}

:root {
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --green-800: hsl(170, 81%, 12%);
  --red: hsl(0, 66%, 54%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

/* form */

body {
  display: grid;
  place-items: center;
  min-height: 100svh;
  background-color: var(--green-200);
  color: var(--green-800);
  font-family: "Karla", sans-serif;
}

.wrapper {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: clamp(300px, 50%, 600px);
  padding: 30px;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* form */
.name {
  display: flex;
  gap: 10px;
}

h1 {
  margin-bottom: 15px;
}

label,
legend {
  margin-bottom: 5px;
  display: inline-block;
}

.name-item input {
  width: 100%;
}

input[type="text"],
select,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--green-800);
}

.email label {
  display: block;
}

.email input {
  width: 100%;
}

fieldset {
  display: flex;
  gap: 10px;
  border: none;
  padding: 0px;
}

.radio-item {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--green-800);
  border-radius: 5px;
}

.message-wrapper {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}

/* button */
#submitBtn {
  background-color: var(--green-600);
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
}

.checkbox {
  display: flex;
  gap: 10px;
  align-items: center;

  & label {
    margin-bottom: 0;
  }
}

input:hover, input:focus, .radio-item:hover, textarea:hover, textarea:focus {
  border: 2px solid var(--green-600);
}


 input[missing="true"], textarea[missing="true"] {
  border: 2px solid var(--red);
} 

.error {
  border: 3px solid var(--red);
}

@media (max-width: 885px) {
  .name {
    flex-direction: column;
  }

  fieldset {
    flex-direction: column;
  }

  textarea {
    height: 200px;
  }
}
